.projectpage {
  max-width: 800px;
  height: 26vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.projectpage h1 {
  font-size: 64px;
  color: white;
  font-weight: normal;
  letter-spacing: 3px;
  text-align: center;
}